@import url(reset.css);
.error {
    color: red;
}
.loading-image {

}
.background-yellow {
    background: yellow;
}
.search-wrapper-main, .index-wrapper {
    position: relative;
    margin: 0 auto;
    width: 570px;
    height: 300px;
    padding-top: 235px;
}

.search-wrapper-main .search-title, .index-title{
    display: block;
    font-size: 50px;
    text-align: center;
}

.search-wrapper-main .search-query-input, .index-url-input {
    margin: 15px 0;
    width: 570px;
    height: 30px;
    padding: 3px 0 0 8px;
    font: 16px arial,sans-serif;
    border: solid 1px #CDCDCD;
}
.index{
    text-align: center;
}
.index-filter{
    display: inline;
}
.index-filter label{
    margin-left: 15px;
}
#depth{
    display: inline;
    margin-left: 5px;
    height: 30px;
    width: 50px;
    font: 16px arial,sans-serif;
    border: solid 1px #CDCDCD;
    padding: 3px 0 0 8px;

}
.search-wrapper-main .search-submit-button, .index-submit-button {
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    font: bold 11px Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444 !important;
    background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0% 0% transparent;

}
.index-submit-button {
    display: inline-block;
}
.search-wrapper-main .search-submit-button:hover, .index-submit-button:hover{
    border-color: #C6C6C6;
    color: #222 !important;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    background: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1) repeat scroll 0% 0% transparent;
}
/*фокус для кнопки, ховер и фокус для инпута (никаких лишних дивов, просто меняй цвет бордера),
если меняешь размер надписи дудл, то уменьшай марджин враппера. высота надписи сейчас 59 пикселей, а марджин враппера 235 пикселей.*/


.search-wrapper-result {
    height: 120px;
    width: 100%;
    border-bottom: solid 1px #F1F1F1;
}
.search-wrapper-result .search{
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F1F1F1;
}
.search-wrapper-result .search-title {
    font-size: 30px;
    padding: 0 15px;
    float: left;
    vertical-align: baseline;
}
.search-wrapper-result .search-form{
    overflow: hidden;
    vertical-align: baseline;
}
.search-wrapper-result .search-query-input {
    height: 30px;
    width: 590px;
    padding: 3px 0 0 8px;
    font: 16px arial,sans-serif;
    border: solid 1px #CDCDCD;
}
.search-wrapper-result .search-submit-button{
    vertical-align: middle;
    height: 30px;
    width: 60px;
    font-size: 0px;
    border: solid 1px #4387FD;
    background: url(/resources/img/search.png) center,-moz-linear-gradient(center top , #4387FD, #4683EA) repeat;
    background: url(/resources/img/search.png) center,-webkit-linear-gradient(top,#4387fd,#4683ea);
    border-radius: 0 3px 3px 0;
    margin-left: -3px;
}
.search-wrapper-result .search-submit-button:hover:focus{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px #fff inset;
}
.search-wrapper-result .search-filter {
    position: relative;
    width: 740px;
    height: 60px;
}

.search-wrapper-result .tools {
    float: right;
    margin: 16px 26px;
    padding: 4px 8px;
    color: #777;
    font-size: 13px;
    text-decoration: none;
    vertical-align: baseline;
}
.search-wrapper-result .tools:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    border-radius: 3px;
}
.results {
    padding-bottom: 40px;
    /*width: 512px;*/
    margin-left: 125px;
}
.results .book-title-link {
    color: #1a0dab;
    text-decoration: underline;
}
.results .book-content-demo {
    font-size: 14px;
}

.singleSearchResultLine {
    /*width: 512px;*/
    position: relative;
    margin-bottom: 50px;
}
.singleSearchResultLine .book-title{
    margin-top: 20px;
}
.singleSearchResultLine .book-title a {
    font-size: 18px !important;
}
.singleSearchResultLine .book-title a:link {
    color: #1a0dab;
}
.singleSearchResultLine .book-title a:link, a:active, a:visited {
    cursor: pointer;
}
.singleSearchResultLine .book-title a:visited{
    color: #609;
}
.singleSearchResultLine .book-link {
    font-size: 14px;
    color: #006621;
    font-weight: normal;
}
.singleSearchResultLine .book-description {
    font-size: 13px;
    line-height: 1.4;
    word-wrap: break-word;
}
.no-search-result {
    margin-left: 125px;
}
.no-search-result p {
    margin: 15px 0;
    font-size: medium;
}
.no-search-result ul li {
    list-style: inside disc !important;
    font-size: medium;
    margin-left: 1.3em;
}

.result-amount {
    margin-left: 125px;
    color: #808080;
    font-family: arial,sans-serif;
    font-size: 13px;
    line-height: 43px;
}
.pagination {
    margin-left: 125px;
    padding-bottom: 100px;
}
.pagination a {
    font-size: 14px;
    color: Blue;
    font-weight: bold;
}
.next{
    display: inline-block;
}
.previous {
    display: inline-block;
    margin-right: 40px;
}
.book-text {
    display: inline-block;
    width: 600px;
    margin: 0 0 0 15px;
}
.book-cover {
    display: inline-block;
    float: left;
    padding-top: 25px;
}
.book-cover > img {
    width: 80px;
}
/*результаты делай. фокус для кнопки. ховер и фокус для инпута*/
